{% extends 'seller_header.html'%}
{% block content %}
        <title>Change Password</title>
        <div class="topmsg">
            {% if msg %}    
            <i class="fa fa-bell" id="msgbox"> &nbsp;{{msg}}</i>        
            {% endif%}
        </div>
        <div class="frmtitle"><h2 class="animated_h2" >Change Passsword</h2></div>
        <div class="signcontainer">
            <form name="login" method="POST" action="{% url 'change_password' %}">
                {% csrf_token %}          
                <input type="password" name="old_password"class="signinput" id="password" placeholder="Enter Old Password" required='true'>
                <span id="eye" onclick="signshow()" ></span> <span id="validtrue"></span><br> 
                <input type="password" name="new_password"class="signinput" id="password" placeholder="Enter New Password" required='true'>  <br>
                <input type="password" name="confirm_new_password"class="signinput" id="password" placeholder="Confirm New Password" required='true'> 
                <button class="signsubmit" type="submit" name="submit" value="SUBMIT" >Change Password</button><br>            
            </form>            
        </div>

{% endblock %}