{% extends 'seller_header.html'%}
{% block content %}
    <title>Seller Dashbord</title>
    <h1><span class="badge badge-secondary mt-4 ml-2">Seller Dashbord</span></h1>
        <div class="row">
            <a href="{% url 'view_product' %}" style="text-decoration: none;">
                <div class="card text-white bg-primary mb-3 mt-4 ml-4" style="max-width: 18rem;">
                    <div class="card-header"><h5 class="card-title">All Products</h5></div>
                    <div class="card-body card-body_count">                    
                    <h1 class="counth1">{{count.all_product}}</h1>
                    </div>
                </div>
            </a>
            <a href="{% url 'get_available' %}" style="text-decoration: none;">
                <div class="card text-white bg-success mb-3 mt-4 ml-4" style="max-width: 18rem;">
                    <div class="card-header"><h5 class="card-title">Available Products</h5></div>
                    <div class="card-body card-body_count">                  
                        <h1 class="counth1">{{count.a_product}}</h1>
                    </div>
                </div>
            </a>
            <a href="{% url 'get_unavailable' %}" style="text-decoration: none;">
                <div class="card text-white bg-danger mb-3 mt-4 ml-4" style="max-width: 18rem;">
                    <div class="card-header"><h5 class="card-title">Unavailable Products</h5></div>
                    <div class="card-body card-body_count">
                    
                        <h1 class="counth1">{{count.un_product}}</h1>
                    </div>
                </div>           
            </a>
        </div>

      
{% endblock %}