<div class="card totalbox" style="width: 18rem; margin: auto;" >
  <div class="card-body">
    <h5 class="card-title">PRICE DETAILS</h5> <hr style="margin: auto;">
    
    <table class="total_tbl">
      <tr>
        <td class="tdname"><h6 class="card-subtitle mb-2 mt-2 text-muted">Price ({{request.session.mycart_len}} items)</h6></td>
        <td class="tdvalue">₹1064</td>
      </tr>
      <tr>
        <td class="tdname"><h6 class="card-subtitle mb-2 mt-2 text-muted">Delivery Charges</h6></td>
        <td class="tdvalue">₹0</td>
      </tr>
     
      <tr>
        <td class="tdname"><h5 class="card-subtitle mb-2 mt-2 ">Total Amount</h5></td>
        <td class="tdvalue">₹1064</td>
      </tr>
    </table>
    
  </div>